@import "bootstrap/scss/functions";
@import "./helpers/_variables";
@import "bootstrap/scss/bootstrap";

body {
  color: $dark;
  font-family: "Noto Sans TC";
}

li {
  list-style: none;
}

h1 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 32px;
}

span {
  font-family: "Baloo Tamma 2", "Noto Sans TC";
}

//button
.btn {
  color: $secondary;
  font-weight: bold;

  &:focus {
    color: $secondary;
  }
}

.btn-primary {
  &:hover {
    color: $white;
    background: $red;
    border-color: $red
  }
}
.btn-outline-secondary {
  border: 3px solid $secondary;

  &:hover {
    color: $secondary;
    background: $yellow;
    border-color: $yellow;
  }

  &:hover > .bi {
    color: $red;
  }
}

//自定义样式
.rounded-xl {
  border-radius: $border-radius-lg*8;
}

.nav-link {
  color: $gray-800;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    font-weight: bold;
    color: $gray-800;
    border-bottom: 2px solid #FFDF65;
  }
}

.active {
  font-weight: bold;
  color: $gray-800;
  border-bottom: 2px solid #FFDF65;
}

.border-bottom-grey {
  border-bottom: 1px solid #E8E8DB;
}

//字体
.fs-14 {
  font-size: 14px;
}

.fs-32 {
  font-size: 32px;
}

.fs-12 {
  font-size: 12px;
}
.fs-20{
  font-size: 20px;
}
.fs-24{
  font-size: 24px;
}
//颜色
.bg-gray {
  background: #E8E8DB;
}
.h-2{
  height: 4px;
}
.view-text{
  /**
	思路：
	1.设置inline-block属相
	2.强制不换行
	3.固定高度
	4.隐藏超出部分
	5.显示“……”
  */
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
}
.text-red{
  color: $red;;
}